---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      はじめまして。北海道を拠点に活動しているフリーランスエンジニアです。
      <br />
      <br />
      得意な技術スタック：
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>Shopify/Liquid</li>
        <li>WordPress</li>
        <li>Astro</li>
        <li>Tailwind CSS</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      映画鑑賞（年間100本）、読書（年間100冊）、トレーニングを日課としています。モダンな開発技術を取り入れ、ECサイトの構築に情熱を注いでいます。
    </p>
  </div>
</Card>
