---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-3">
    <ul class="mt-2 list-inside list-disc text-sm font-light">
      <li>JavaScript/TypeScript</li>
      <li>Shopify/Liquid</li>
      <li>WordPress</li>
      <li>Astro</li>
      <li>Tailwind CSS</li>
      <li>PHP</li>
    </ul>
    <p class="text-sm font-light">
      映画鑑賞（年間100本）、読書（年間100冊）、トレーニングを日課としています。
    </p>
  </div>
</Card>
