---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-lg font-bold text-foreground">お仕事のご依頼・ご相談</h1>
    </header>
    <address class="mt-4 flex flex-col">
      <h2 class="text-gray-500">連絡先</h2>
      <p>webchaleur@gmail.com</p>
      <p>北海道音更町</p>
    </address>
    <div class="mt-4 flex w-fit flex-col">
      <h2 class="text-gray-500">SNS</h2>
      <ul>
        <li>
          <a href={LINKS.github} target="_blank" rel="noopener noreferrer"
            >Github</a
          >
        </li>
        <li>
          <a href={LINKS.x} target="_blank" rel="noopener noreferrer"
            >X (Twitter)</a
          >
        </li>
        <li>
          <a href={LINKS.instagram} target="_blank" rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
      </ul>
    </div>
  </div>
</Card>
