---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { WORKS } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="WORKS">
  <div class="mt-2 space-y-4">
    {
      WORKS.slice(0, 3).map((exp) => (
        <div>
          <a
            class="text-sm text-primary"
            href={exp?.link ?? ''}
            target="_blank"
          >
            {exp.project}
          </a>
          <p class="text-sm text-gray-600">
            {exp.start} - {exp.end}
          </p>
        </div>
      ))
    }
    <a href={`${import.meta.env.BASE_URL}/work`}>
      <Button variant="link" className="pl-0"> View More </Button>
    </a>
  </div>
</Card>
