---
import BaseLayout from '../layouts/BaseLayout.astro'

import { buttonVariants } from '../components/ui/button'
---

<BaseLayout
  title="404 - Not Found"
  description="404 Error — this page was not found"
>
  <main class="flex h-[80vh] flex-auto">
    <div class="flex flex-col items-center justify-center px-8">
      <img src="/me.png" alt="404" class="mb-8 h-64 w-64" />
      <p class="text-sm text-muted-foreground">404</p>
      <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl">
        ページが見つかりません
      </h1>
      <p class="mb-4 leading-7 [&:not(:first-child)]:mt-6">
        申し訳ありませんが、お探しのページは見つかりませんでした。
      </p>
      <a href="/" rel="noreferrer" class={buttonVariants()}>ホームに戻る</a>
    </div>
  </main>
</BaseLayout>
