<footer class="border-t py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
  >
    <p
      class="text-center text-xs leading-loose text-muted-foreground md:text-left"
    >
      <a
        href="https://github.com/ryoma-abe"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        RyoCode
      </a>
      がAstro と Tailwind CSS で制作しました。
    </p>
  </div>
</footer>
